<!DOCTYPE html>
<meta charset="utf-8">
<style>

.bar {
  fill: steelblue;
}

svg {
     fill: yellow;
     }
g {
   fill:yellow;
   }
   

</style>
<div id="l1">
    <svg width="1000" height="150">
</div>
<div id="l2">
    <svg width="1000" height="150">
</div>
<div id="l3">
    <svg width="1000" height="150">
</div>
<div id="l4">
    <svg width="1000" height="150">
</div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

var l1Svg = d3.select("#l1>svg"),
    margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = +l1Svg.attr("width") - margin.left - margin.right,
    height = +l1Svg.attr("height") - margin.top - margin.bottom;

var l2Svg = d3.select("#l2>svg");
var l3Svg = d3.select("#l3>svg");
var l4Svg = d3.select("#l4>svg");

var l1X = d3.scaleLinear().rangeRound([0, width]),
    l1Y = d3.scaleBand().rangeRound([height, 0]).padding(0.1),
    l2X = d3.scaleLinear().rangeRound([0, width]),
    l2Y = d3.scaleBand().rangeRound([height, 0]).padding(0.1),
    l3X = d3.scaleLinear().rangeRound([0, width]),
    l3Y = d3.scaleBand().rangeRound([height, 0]).padding(0.1),
    l4X = d3.scaleLinear().rangeRound([0, width]),
    l4Y = d3.scaleBand().rangeRound([height, 0]).padding(0.1);

var g1 = l1Svg.append("g")
    .attr("id", "l1Svg")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var g2 = l2Svg.append("g")
    .attr("id", "l2Svg")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var g3 = l2Svg.append("g")
    .attr("id", "l2Svg")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var g4 = l2Svg.append("g")
    .attr("id", "l2Svg")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.json("../allChromosomeVariations",  function(error, data) {
    data = data.splice(1, 1);
    l1X.domain([0, d3.max(data, function(d) { return d.size; })]);
    l1Y.domain(data.map(function(d) { return d.name; }));
                      
    g1.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(l1X));

    g1.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(l1Y));
                      
    bars = g1.append("g").selectAll('rect')
        .data(data)
        .enter()
        .append("rect")
        .attr("class", "bar")
        .attr("x", 0)
        .attr("y", function(d, i) {return l1Y(d.name); })
        .attr("height", l1Y.bandwidth())
        .attr("width", 0)
        .on("click", testl1);
        //.style("fill", "#4051b5");
        //.attr("filter", "url(#drop-shadow)");

    texts = g1.selectAll("#chart>text")
        .data(data)
        .enter()
        .append("text")
        .attr("x", function(d) { return l1X(d.size) + 5 })
        .attr("y", function(d, i) {return l1Y(d.name) - l1Y.bandwidth()/4; })
        .attr("dy", l1Y.bandwidth())
        .attr("fill", "blue")
        .text(function(d) {return d.location.length + " variations"});

        bars.transition()
        .ease(d3.easeLinear)
        .duration(function(d){return l1X(d.size)})
        .attr("width", function(d) {return l1X(d.size)});
        
        bars.each(function(d) {
        variations = g1.append("g").selectAll("rect.variation")
        .data(d.location)
        .enter()
        .append("rect")
        .attr("class", "variation")
        .attr("y", function(location) {return l1Y(d.name);})
        .attr("x", function(location) {return l1X(location)})
        .attr("height", l1Y.bandwidth())
        .attr("width", 1)
        .attr("fill", "red");
        	});
        
    function testl1() {
        var xPos = l1X.invert(d3.mouse(this)[0]);
        scale = 5000000
        lxPos = xPos - scale;
        hxPos = xPos + scale;
        l2Svg.selectAll('g').remove();
        var g = l2Svg.append('g');
        var p = [lxPos, hxPos];
        console.log(p);
        l2X.domain(p);
        l2Y.domain(data.map(function(d) { return d.name; }));
        
        var g2 = l2Svg.append("g")
            .attr("id", "l2Svg")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");   
        g2.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")");
        g2.selectAll('.axis.axis--x')
          .transition()
          .call(d3.axisBottom(l2X));

        g2.append("g")
          .attr("class", "axis axis--y")
          .call(d3.axisLeft(l2Y));

        bars = g2.append("g").selectAll('rect')
        .data(data)
        .enter()
        .append("rect")
        .attr("class", "bar")
        .attr("x", 0)
        .attr("y",  function(d, i) {return l2Y(d.name); })
        .attr("height", l2Y.bandwidth())
        .attr("width", l2X(hxPos))
        .on("click", testl2);;
                                    
                                       
        bars.each(function(d) {
                  fd = d.location.filter(function(f){if (f > lxPos && f < hxPos) return true});
                  console.log(fd);
        variations = g2.append("g").selectAll("rect.variation")
        .data(fd)
        .enter()
        .append("rect")
        .attr("class", "variation")
        .attr("y", function() {return l2Y(d.name); })
        .attr("x", function(location) {return l2X(location)})
        .attr("height", l2Y.bandwidth())
        .attr("width", 1)
        .attr("fill", "red");

         g2.selectAll("#l2>text")
        .data(data)
        .enter()
        .append("text")
        .attr("x", function(d) { return l2X(hxPos) + 5 })
        .attr("y", function(d, i) {return l2Y(d.name) - l2Y.bandwidth()/4; })
        .attr("dy", l2Y.bandwidth())
        .attr("fill", "blue")
        .text(function(d) {return fd.length + " variations"});

        });
                  
        
        }
        
        function testl2() {

        var xPos = l2X.invert(d3.mouse(this)[0]);
        scale = 500000
        lxPos = xPos - scale;
        hxPos = xPos + scale;
        l3Svg.selectAll('g').remove();
        var g = l3Svg.append('g');
        var p = [lxPos, hxPos];
        console.log(p);
        l3X.domain(p);
        l3Y.domain(data.map(function(d) { return d.name; }));
        
        var g3 = l3Svg.append("g")
            .attr("id", "l3Svg")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");   
        g3.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")");
        g3.selectAll('.axis.axis--x')
          .transition()
          .call(d3.axisBottom(l3X));

        g3.append("g")
          .attr("class", "axis axis--y")
          .call(d3.axisLeft(l2Y));

        bars = g3.append("g").selectAll('rect')
        .data(data)
        .enter()
        .append("rect")
        .attr("class", "bar")
        .attr("x", 0)
        .attr("y",  function(d, i) {return l3Y(d.name); })
        .attr("height", l3Y.bandwidth())
        .attr("width", l3X(hxPos))
        .on("click", testl3);;;
                                    
                                       
        bars.each(function(d) {
                  fd = d.location.filter(function(f){if (f > lxPos && f < hxPos) return true});
                  console.log(fd);
        variations = g3.append("g").selectAll("rect.variation")
        .data(fd)
        .enter()
        .append("rect")
        .attr("class", "variation")
        .attr("y", function() {return l3Y(d.name); })
        .attr("x", function(location) {return l3X(location)})
        .attr("height", l3Y.bandwidth())
        .attr("width", 1)
        .attr("fill", "red");

         g3.selectAll("#l3>text")
        .data(data)
        .enter()
        .append("text")
        .attr("x", function(d) { return l3X(hxPos) + 5 })
        .attr("y", function(d, i) {return l3Y(d.name) - l3Y.bandwidth()/4; })
        .attr("dy", l3Y.bandwidth())
        .attr("fill", "blue")
        .text(function(d) {return fd.length + " variations"});

        });
                  
        
        }
        
        //-------------------l3 ---------------------
        function testl3() {

        var xPos = l3X.invert(d3.mouse(this)[0]);
        scale = 50000
        lxPos = xPos - scale;
        hxPos = xPos + scale;
        l4Svg.selectAll('g').remove();
        var g = l4Svg.append('g');
        var p = [lxPos, hxPos];
        console.log(p);
        l4X.domain(p);
        l4Y.domain(data.map(function(d) { return d.name; }));
        
        var g4 = l4Svg.append("g")
            .attr("id", "l3Svg")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");   
        g4.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")");
        g4.selectAll('.axis.axis--x')
          .transition()
          .call(d3.axisBottom(l4X));

        g4.append("g")
          .attr("class", "axis axis--y")
          .call(d3.axisLeft(l4Y));

        bars = g4.append("g").selectAll('rect')
        .data(data)
        .enter()
        .append("rect")
        .attr("class", "bar")
        .attr("x", 0)
        .attr("y",  function(d, i) {return l4Y(d.name); })
        .attr("height", l4Y.bandwidth())
        .attr("width", l4X(hxPos));
        
                                    
                                       
        bars.each(function(d) {
                  fd = d.location.filter(function(f){if (f > lxPos && f < hxPos) return true});
                  console.log(fd);
        variations = g4.append("g").selectAll("rect.variation")
        .data(fd)
        .enter()
        .append("rect")
        .attr("class", "variation")
        .attr("y", function() {return l4Y(d.name); })
        .attr("x", function(location) {return l4X(location)})
        .attr("height", l4Y.bandwidth())
        .attr("width", 1)
        .attr("fill", "red");

         g4.selectAll("#l4>text")
        .data(data)
        .enter()
        .append("text")
        .attr("x", function(d) { return l4X(hxPos) + 5 })
        .attr("y", function(d, i) {return l4Y(d.name) - l4Y.bandwidth()/4; })
        .attr("dy", l4Y.bandwidth())
        .attr("fill", "blue")
        .text(function(d) {return fd.length + " variations"});

        });
                  
        
        }

        });

</script>